:local(.algorithmData):global(.MuiExpansionPanelDetails-root) {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem 0.5rem;
}

:local(.progressOverlay) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

:local(.title) {
  flex-basis: 26%;
  flex-shrink: 0;
}

:local(.description) {
  opacity: 0.7;
}